body {
    background-color: beige;
    color: #333;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #666;
}

main {
    padding: 20px;
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}